@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 245 49% 15%;

    --card: 0 0% 100%;
    --card-foreground: 245 49% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 245 49% 15%;

    --primary: 245 49% 25%; /* Sterling Purple */
    --primary-foreground: 0 0% 100%;

    --secondary: 196 100% 47%; /* Sterling Blue */
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 245 49% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 245 49% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 245 25% 10%;
    --foreground: 210 40% 98%;

    --card: 245 25% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 245 25% 13%;
    --popover-foreground: 210 40% 98%;

    --primary: 245 50% 60%;
    --primary-foreground: 245 49% 10%;

    --secondary: 196 70% 40%;
    --secondary-foreground: 0 0% 100%;

    --muted: 245 20% 20%;
    --muted-foreground: 215 20% 70%;

    --accent: 245 20% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 245 20% 20%;
    --input: 245 20% 20%;
    --ring: 245 50% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spinners {
    -moz-appearance: textfield;
  }
}